<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-primary">Agregar +</button>
    </div>
    <div class=" col-md-5 offset-md-5">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-primary btn" >Buscar</button>
        </form>
    </div>
</div>
<div class="">
    Tabla
</div>
<div class="row">
    paginacion
</div>
